/* здесь используйте глобальные селекторы img, body, html и так далее*/
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#map {
  height: 420px;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev {
  height: 714px;
  width: 80px;
  top: 21px;
  left: 0;

  &::after {
    content: url("../../img/images/arrow.svg");
    width: 20px;
    height: 56px;
    color: $base-primary;
  }

  &:hover {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    content: url("../../img/images/arrow-disabled.svg");
  }
}

.swiper-button-next {
  height: 714px;
  width: 80px;
  top: 21px;
  right: 0;

  &::after {
    content: url("../../img/images/arrow.svg");
    width: 20px;
    height: 56px;
    color: $base-primary;
    transform: rotate(180deg);
  }

  &:hover {
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    content: url("../../img/images/arrow-disabled.svg");
  }
}

.wrapper {
  width: 280px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;
}

@media (max-width: 767px) {
  .swiper-button-next {
    width: 20px;
    height: 656px;
  }

  .swiper-button-prev {
    width: 20px;
    height: 656px;
  }
}


@media (min-width: 768px) {
  .wrapper {
    width: 728px;
    margin: 0 auto;
  }

  .parameters {
    display: flex;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: 40px 0 44px 0;
    gap: 30px;
  }

  .swiper {
    height: 828px;
  }

  .swiper-button-prev {
    height: 640px;
  }

  .swiper-button-next {
    height: 640px;
  }

  #map {
    height: 480px;
  }
}

.btn {
  background-color: $base-primary;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: $primary-ligher;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}

a {
  text-decoration: none;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1360px;
    margin: 0 auto;
  }

  .swiper-pagination {
    bottom: 60px;
    display: block;
  }

  .swiper-pagination-bullet {
    border-radius: 0;
    width: 62px;
    height: 4px;
  }

  .swiper-pagination-bullet-active {
    background-color: $base-primary;
  }

  .parameters {
    flex-direction: column;
  }

  .swiper {
    width: 100%;
    height: 714px;
  }

  .swiper-button-prev {
    height: 714px;
  }

  .swiper-button-next {
    height: 714px;
  }

  #map {
    height: 540px;
  }
}
