/* здесь используйте глобальные переменные */
$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$primary-ligher: #9070ec;
$primary-darker: #593cac;
$light-gray: #e2e2e2;
$background-gray: #f8f8f8;
$background-white: #f3ebe1;
$background-latte: #eae6fc;
$background-espresso: #e5e6e8;
